/*CSS reset settings here*/
*{
    margin: 0px; /**/
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin: 10px auto; /*changed from 0px to 10px to mimick white space above example block*/
    padding: 20px /*changed from 0px to 20px, was missing top silver border section*/
}
#header{
    min-height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin-bottom: 10px;
}
.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-left: 11px; /*changed from 10px to 20px, but only moved center and right block, to the right. Left block in same poistion*/
    margin-top: 11px; /*added margin-top with 10px to add move yellow blocks down a little*/
}
#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 25px;
    margin-left: 11px;
}
